/*------------------------------------*\
    #COLOUR PALLETTE
\*------------------------------------*/

$gel-color--white: #fff;
$gel-color--orange: #e6711b;
$gel-color--cod-gray: #767676;
$gel-color--tundora: #404040;
$gel-color--dusty-gray: #ccc;
$gel-color--alto: #dcdcdc;
$gel-color--gallery: #f5f5f5;