///*------------------------------------*\
//    # GEL GRID - TEST
//\*------------------------------------*/

// Include general GEL dependancies
@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';


// Lets declare a few varaibles to test the output
$gel-grid-enable--1280-breakpoint: true !default;
$gel-grid-enable--markup-output: true !default;
$gel-grid-enable--box-sizing: true !default;
$gel-grid-enable--whitespace-fix: true !default;
$gel-grid-enable--flush: true !default;
$gel-grid-enable--rev: true !default;
$gel-grid-enable--middle: true !default;
$gel-grid-enable--bottom: true !default;
$gel-grid-enable--right: true !default;
$gel-grid-enable--center: true !default;
$gel-grid-enable--auto: true !default;


// Import the grid component
@import '../grid';


// Lets test our mixin
.my-page {
	@include gel-wrap;
}

.my-component {
	@include gel-layout;
}

.my-component__item {
	@include gel-layout-item;
}
