.gel-o-button,
.gel-o-button:visited {
    position: relative;

    display: inline-block;

    margin: 0;
    border: 0;
    border: 1px solid $gel-color--tundora;
    padding: double($gel-spacing-unit);

    color: $gel-color--white;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;

    background-color: $gel-color--tundora;
    appearance: none;
    cursor: pointer;

    @if $enhanced {
        @include mq($from: gel-bp-xs) {
            min-width: 190px;
        }
    }

    &:focus,
    &:hover {
        text-decoration: underline;
        background-color: #121212;
    }

    &:active {
        top: 1px;
        background-color: $gel-color--orange;
        border-color: $gel-color--orange;
    }

    /*.gel-icon--inline {
        margin-right:$gel-spacing-unit;
    }*/
}

/**
 * Clear button
 */
.gel-o-button--clear {
    background-color: transparent;
    color: $gel-color--tundora;

    &:focus,
    &:hover {
        background-color: transparent;
        border-color: $gel-color--tundora;
    }

    &:active {
        background-color: transparent;
    }
}
