@use 'gel-sass-tools/sass-tools';
@use 'sass-mq/mq';
@use '../../../../grid';
@use 'sass:list';

/*------------------------------------*\
    # FLOAT
\*------------------------------------*/

$gs-display-switch-breakpoint-names: sass-tools.$gel-breakpoint-names !default;

@mixin floats($suffix: null) {
    $breakpoint-suffix: '';

    @if $suffix != null {
        $breakpoint-suffix: \@#{$suffix};
    }

    .gs-u-fl#{$breakpoint-suffix} {
        float: left !important;
    }

    .gs-u-fr#{$breakpoint-suffix} {
        float: right !important;
    }

    .gs-u-fn#{$breakpoint-suffix} {
        float: none !important;
    }
}

// Output the unsuffixed version
@include floats();

@each $breakpoint in $gs-display-switch-breakpoint-names {
    $breakpoint-name: list.nth($breakpoint, 1);

    @include mq.mq($from: '#{grid.$gel-grid-breakpoint-namespace}#{$breakpoint}') {
        @include floats($breakpoint-name);
    }
}
