@use 'gel-sass-tools/sass-tools';
@use 'sass-mq/mq';
@use 'settings/global';
@use '../../../grid';

.gel-o-button,
.gel-o-button:visited {
    position: relative;

    display: inline-block;

    margin: 0;
    border: 0;
    border: 1px solid global.$gel-color--tundora;
    padding: sass-tools.double(sass-tools.$gel-spacing-unit);

    color: global.$gel-color--white;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;

    background-color: global.$gel-color--tundora;
    appearance: none;
    cursor: pointer;

    @include mq.mq($from: gel-bp-xs) {
        min-width: 190px;
    }

    &:focus,
    &:hover {
        text-decoration: underline;
        background-color: #121212;
    }

    &:active {
        top: 1px;
        background-color: global.$gel-color--orange;
        border-color: global.$gel-color--orange;
    }
}

/**
 * Clear button
 */
.gel-o-button--clear {
    background-color: transparent;
    color: global.$gel-color--tundora;

    &:focus,
    &:hover {
        background-color: transparent;
        border-color: global.$gel-color--tundora;
    }

    &:active {
        background-color: transparent;
    }
}
