// settings
@import 'settings/globals';
@import 'vendor/gel-settings/globals';
@import 'settings/colours';


// tools
@import 'vendor/sass-mq/mq';
@import 'vendor/gel-tools/rem';
@import 'vendor/gel-tools/math';


// generic
@import 'generic/normalize';
@import 'generic/reset';
@import 'generic/box-sizing';


// base
@import 'base/typography';


// object
@import 'vendor/gel-layout/layout';
@import 'vendor/gel-typography/typography';
@import 'objects/button';


// components
@import 'components/demo-header';
@import 'components/demo-controls';
@import 'components/demo-content';

@import 'components/grid-controls';
@import 'components/grid-demo';


// trumps
@import 'vendor/gel-widths/widths';
@import 'trumps/spacing';
@import 'trumps/clearfix';
