/*------------------------------------*\
    # GRID CONTROLS
\*------------------------------------*/

.gel-grid-controls__label {
    margin-bottom: $gel-spacing-unit;
}

.gel-grid-controls__mode-toggle {
    padding: 0;
    border: 0;
    outline: 0;

    color: #fff;

    background: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.gel-grid-controls__mode-toggle--bold {
    display: inline-block;
}

.gel-grid-controls__mode-toggle--touch {
    display: none;

    @if $enhanced {
        @include mq($from: 460px) {
            display: inline-block;
            margin-left: $gel-spacing-unit;
        }
    }
}

/**
 * Change the group name based on the current media-query
 */
 .gel-grid-controls__group-name {
    &:after {
        content: 'Group 1 - Extra Small (0 - 399px)';
    }

    @if $enhanced {
        @include mq($from: gel-bp-s) {
            &:after {
                content: 'Group 2 - Small (400px - 599px)';
            }
        }

        @include mq($from: gel-bp-m) {
            &:after {
                content: 'Group 3 - Medium (600px - 899px)';
            }
        }

        @include mq($from: gel-bp-l) {
            &:after {
                content: 'Group 4 - Large (900px - 1008px)';
            }
        }

        @include mq($from: gel-bp-xl) {
            &:after {
                content: 'Group 5 - Extra Large (1280px)';
            }
        }
    }
}

/**
 * Change the margin's and gutter's based on the breakpoint
 */
.gel-grid-controls__margin-gutter-size {
    
    &:after {
        content: 'Margins: 8px | Gutters: 8px';
    }

    @if $enhanced {
        @include mq($from: gel-bp-s) {
            &:after {
                content: '12 Column Grid | Margins: 16px | Gutters: 8px';
            }
        }

        @include mq($from: gel-bp-m) {
            &:after {
                content: '12 Column Grid | Margins: 16px | Gutters: 16px';
            }
        }

        @include mq($from: gel-bp-l) {
            &:after {
                content: '24 Column Grid | Margins: 16px | Gutters: 16px';
            }
        }

        @include mq($from: gel-bp-xl) {
            &:after {
                content: '24 Column Grid | Margins: 16px | Gutters: 16px';
            }
        }
    }
}
