/*------------------------------------*\
    # DEMO CONTROLS
\*------------------------------------*/


/**
 * 1. Remove the margin from the last item
 */
 .gel-demo-controls {
    position: relative;

    margin-right: -$gel-spacing-unit;
    margin-bottom: double($gel-spacing-unit);
    margin-left: -$gel-spacing-unit;
    padding: $gel-spacing-unit;

    background-color: $gel-color--orange;
    color: #fff;

    @if $enhanced {
        @include mq($from: gel-bp-s) {
            margin-right: double(-$gel-spacing-unit);
            margin-left: double(-$gel-spacing-unit);
            padding: double($gel-spacing-unit);
        }

        @include mq($from: gel-bp-l) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    > :last-child {
        margin-bottom: 0; /* [1] */
    }
}

.gel-demo-controls__options {
    position: absolute;
    bottom: $gel-spacing-unit;
    right: $gel-spacing-unit;

    @if $enhanced {
        @include mq($from: gel-bp-s) {
            bottom: double($gel-spacing-unit);
            right: double($gel-spacing-unit);
        }
    }
}

.gel-demo-controls__option {
    padding: 0;
    border: 0;
    outline: 0;

    color: #fff;

    background: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}
