/*------------------------------------*\
    # CLEARFIX
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */
.clearfix,
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
