/**
  * Grid containing element
  */
.gel-wrap {
  margin: 0 auto;
  max-width: 1008px;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 25em) {
  .gel-wrap {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 80em) {
  .gel-wrap {
    max-width: 1280px;
  }
}

/**
  * A grid row
  */
.gel-layout {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  list-style: none;
  margin-left: 0;
  margin-right: -8px;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
@media (min-width: 37.5em) {
  .gel-layout {
    margin-right: -16px;
  }
}

/**
  * A single grid item
  */
.gel-layout__item {
  display: inline-block;
  padding-right: 8px;
  text-align: right;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 37.5em) {
  .gel-layout__item {
    padding-right: 16px;
  }
}

/**
  * Layouts with no gutters.
  */
.gel-layout--flush {
  margin-right: 0;
}

.gel-layout--flush > .gel-layout__item {
  padding-right: 0;
}

/**
  * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
  * markup will display in order 4, 3, 2, 1 on your page
  */
.gel-layout--rev {
  flex-direction: row-reverse;
}

.no-flexbox .gel-layout--rev {
  direction: ltr;
  text-align: right;
}

.no-flexbox .gel-layout--rev > .gel-layout__item {
  direction: rtl;
  text-align: right;
}

/**
  * Align layout items to the vertical centers of each other
  */
.gel-layout--middle {
  align-items: center;
}

.gel-layout--middle > .gel-layout__item {
  vertical-align: middle;
}

/**
  * Align layout items to the vertical bottoms of each other
  */
.gel-layout--bottom {
  align-items: flex-end;
}

.gel-layout--bottom > .gel-layout__item {
  vertical-align: bottom;
}

/**
  * Make the layout items fill up from the right hand side
  */
.gel-layout--right {
  text-align: left;
  justify-content: flex-end;
}

.gel-layout--right > .gel-layout__item {
  text-align: right;
}

/**
  * Make the layout items fill up from the center outward
  */
.gel-layout--center {
  text-align: center;
  justify-content: center;
}

.gel-layout--center > .gel-layout__item {
  text-align: right;
}

/**
  * Cause layout items to take up a non-explicit amount of width
  */
.gel-layout--auto > .gel-layout__item {
  width: auto;
}

/**
  * Disable the flexbox grid
  *
  * 1. Prevents floated layout items from shrinking the layout
  */
.gel-layout--no-flex {
  min-width: 100%;
}

.gel-layout--no-flex,
.gel-layout--no-flex > .gel-layout__item {
  display: inline-block;
}

/**
  * Force items to be of equal height
  */
.gel-layout--equal > .gel-layout__item {
  display: flex;
}

/**
  * Allow items to devide the space equally between the number of items
  */
.gel-layout--fit > .gel-layout__item {
  width: auto;
  flex: 1 1 auto;
}

/**
  * Align a single grid item to the top
  */
.gel-layout__item--top {
  align-self: flex-start;
}

/**
      * Align a single grid item to the center
      */
.gel-layout__item--center {
  align-self: center;
}

/**
  * Align a single grid item to the bottom
  */
.gel-layout__item--bottom {
  align-self: flex-end;
}

.gel-1\/1 {
  width: 100% !important;
}

.gel-1\/2 {
  width: 50% !important;
}

.gel-1\/3 {
  width: 33.33333% !important;
}

.gel-2\/3 {
  width: 66.66667% !important;
}

.gel-1\/4 {
  width: 25% !important;
}

.gel-3\/4 {
  width: 75% !important;
}

.gel-1\/5 {
  width: 20% !important;
}

.gel-2\/5 {
  width: 40% !important;
}

.gel-3\/5 {
  width: 60% !important;
}

.gel-4\/5 {
  width: 80% !important;
}

.gel-1\/8 {
  width: 12.5% !important;
}

.gel-3\/8 {
  width: 37.5% !important;
}

.gel-5\/8 {
  width: 62.5% !important;
}

.gel-7\/8 {
  width: 87.5% !important;
}

.gel-1\/10 {
  width: 10% !important;
}

.gel-3\/10 {
  width: 30% !important;
}

.gel-7\/10 {
  width: 70% !important;
}

.gel-9\/10 {
  width: 90% !important;
}

.gel-1\/12 {
  width: 8.33333% !important;
}

.gel-2\/12 {
  width: 16.66667% !important;
}

.gel-5\/12 {
  width: 41.66667% !important;
}

.gel-7\/12 {
  width: 58.33333% !important;
}

.gel-10\/12 {
  width: 83.33333% !important;
}

.gel-11\/12 {
  width: 91.66667% !important;
}

.gel-1\/24 {
  width: 4.16667% !important;
}

.gel-5\/24 {
  width: 20.83333% !important;
}

.gel-7\/24 {
  width: 29.16667% !important;
}

.gel-11\/24 {
  width: 45.83333% !important;
}

.gel-13\/24 {
  width: 54.16667% !important;
}

.gel-17\/24 {
  width: 70.83333% !important;
}

.gel-19\/24 {
  width: 79.16667% !important;
}

.gel-23\/24 {
  width: 95.83333% !important;
}

@media (min-width: 15em) {
  .gel-1\/1\@xs {
    width: 100% !important;
  }
  .gel-1\/2\@xs {
    width: 50% !important;
  }
  .gel-1\/3\@xs {
    width: 33.33333% !important;
  }
  .gel-2\/3\@xs {
    width: 66.66667% !important;
  }
  .gel-1\/4\@xs {
    width: 25% !important;
  }
  .gel-3\/4\@xs {
    width: 75% !important;
  }
  .gel-1\/5\@xs {
    width: 20% !important;
  }
  .gel-2\/5\@xs {
    width: 40% !important;
  }
  .gel-3\/5\@xs {
    width: 60% !important;
  }
  .gel-4\/5\@xs {
    width: 80% !important;
  }
  .gel-1\/8\@xs {
    width: 12.5% !important;
  }
  .gel-3\/8\@xs {
    width: 37.5% !important;
  }
  .gel-5\/8\@xs {
    width: 62.5% !important;
  }
  .gel-7\/8\@xs {
    width: 87.5% !important;
  }
  .gel-1\/10\@xs {
    width: 10% !important;
  }
  .gel-3\/10\@xs {
    width: 30% !important;
  }
  .gel-7\/10\@xs {
    width: 70% !important;
  }
  .gel-9\/10\@xs {
    width: 90% !important;
  }
  .gel-1\/12\@xs {
    width: 8.33333% !important;
  }
  .gel-2\/12\@xs {
    width: 16.66667% !important;
  }
  .gel-5\/12\@xs {
    width: 41.66667% !important;
  }
  .gel-7\/12\@xs {
    width: 58.33333% !important;
  }
  .gel-10\/12\@xs {
    width: 83.33333% !important;
  }
  .gel-11\/12\@xs {
    width: 91.66667% !important;
  }
  .gel-1\/24\@xs {
    width: 4.16667% !important;
  }
  .gel-5\/24\@xs {
    width: 20.83333% !important;
  }
  .gel-7\/24\@xs {
    width: 29.16667% !important;
  }
  .gel-11\/24\@xs {
    width: 45.83333% !important;
  }
  .gel-13\/24\@xs {
    width: 54.16667% !important;
  }
  .gel-17\/24\@xs {
    width: 70.83333% !important;
  }
  .gel-19\/24\@xs {
    width: 79.16667% !important;
  }
  .gel-23\/24\@xs {
    width: 95.83333% !important;
  }
}
@media (min-width: 25em) {
  .gel-1\/1\@s {
    width: 100% !important;
  }
  .gel-1\/2\@s {
    width: 50% !important;
  }
  .gel-1\/3\@s {
    width: 33.33333% !important;
  }
  .gel-2\/3\@s {
    width: 66.66667% !important;
  }
  .gel-1\/4\@s {
    width: 25% !important;
  }
  .gel-3\/4\@s {
    width: 75% !important;
  }
  .gel-1\/5\@s {
    width: 20% !important;
  }
  .gel-2\/5\@s {
    width: 40% !important;
  }
  .gel-3\/5\@s {
    width: 60% !important;
  }
  .gel-4\/5\@s {
    width: 80% !important;
  }
  .gel-1\/8\@s {
    width: 12.5% !important;
  }
  .gel-3\/8\@s {
    width: 37.5% !important;
  }
  .gel-5\/8\@s {
    width: 62.5% !important;
  }
  .gel-7\/8\@s {
    width: 87.5% !important;
  }
  .gel-1\/10\@s {
    width: 10% !important;
  }
  .gel-3\/10\@s {
    width: 30% !important;
  }
  .gel-7\/10\@s {
    width: 70% !important;
  }
  .gel-9\/10\@s {
    width: 90% !important;
  }
  .gel-1\/12\@s {
    width: 8.33333% !important;
  }
  .gel-2\/12\@s {
    width: 16.66667% !important;
  }
  .gel-5\/12\@s {
    width: 41.66667% !important;
  }
  .gel-7\/12\@s {
    width: 58.33333% !important;
  }
  .gel-10\/12\@s {
    width: 83.33333% !important;
  }
  .gel-11\/12\@s {
    width: 91.66667% !important;
  }
  .gel-1\/24\@s {
    width: 4.16667% !important;
  }
  .gel-5\/24\@s {
    width: 20.83333% !important;
  }
  .gel-7\/24\@s {
    width: 29.16667% !important;
  }
  .gel-11\/24\@s {
    width: 45.83333% !important;
  }
  .gel-13\/24\@s {
    width: 54.16667% !important;
  }
  .gel-17\/24\@s {
    width: 70.83333% !important;
  }
  .gel-19\/24\@s {
    width: 79.16667% !important;
  }
  .gel-23\/24\@s {
    width: 95.83333% !important;
  }
}
@media (min-width: 37.5em) {
  .gel-1\/1\@m {
    width: 100% !important;
  }
  .gel-1\/2\@m {
    width: 50% !important;
  }
  .gel-1\/3\@m {
    width: 33.33333% !important;
  }
  .gel-2\/3\@m {
    width: 66.66667% !important;
  }
  .gel-1\/4\@m {
    width: 25% !important;
  }
  .gel-3\/4\@m {
    width: 75% !important;
  }
  .gel-1\/5\@m {
    width: 20% !important;
  }
  .gel-2\/5\@m {
    width: 40% !important;
  }
  .gel-3\/5\@m {
    width: 60% !important;
  }
  .gel-4\/5\@m {
    width: 80% !important;
  }
  .gel-1\/8\@m {
    width: 12.5% !important;
  }
  .gel-3\/8\@m {
    width: 37.5% !important;
  }
  .gel-5\/8\@m {
    width: 62.5% !important;
  }
  .gel-7\/8\@m {
    width: 87.5% !important;
  }
  .gel-1\/10\@m {
    width: 10% !important;
  }
  .gel-3\/10\@m {
    width: 30% !important;
  }
  .gel-7\/10\@m {
    width: 70% !important;
  }
  .gel-9\/10\@m {
    width: 90% !important;
  }
  .gel-1\/12\@m {
    width: 8.33333% !important;
  }
  .gel-2\/12\@m {
    width: 16.66667% !important;
  }
  .gel-5\/12\@m {
    width: 41.66667% !important;
  }
  .gel-7\/12\@m {
    width: 58.33333% !important;
  }
  .gel-10\/12\@m {
    width: 83.33333% !important;
  }
  .gel-11\/12\@m {
    width: 91.66667% !important;
  }
  .gel-1\/24\@m {
    width: 4.16667% !important;
  }
  .gel-5\/24\@m {
    width: 20.83333% !important;
  }
  .gel-7\/24\@m {
    width: 29.16667% !important;
  }
  .gel-11\/24\@m {
    width: 45.83333% !important;
  }
  .gel-13\/24\@m {
    width: 54.16667% !important;
  }
  .gel-17\/24\@m {
    width: 70.83333% !important;
  }
  .gel-19\/24\@m {
    width: 79.16667% !important;
  }
  .gel-23\/24\@m {
    width: 95.83333% !important;
  }
}
@media (min-width: 56.25em) {
  .gel-1\/1\@l {
    width: 100% !important;
  }
  .gel-1\/2\@l {
    width: 50% !important;
  }
  .gel-1\/3\@l {
    width: 33.33333% !important;
  }
  .gel-2\/3\@l {
    width: 66.66667% !important;
  }
  .gel-1\/4\@l {
    width: 25% !important;
  }
  .gel-3\/4\@l {
    width: 75% !important;
  }
  .gel-1\/5\@l {
    width: 20% !important;
  }
  .gel-2\/5\@l {
    width: 40% !important;
  }
  .gel-3\/5\@l {
    width: 60% !important;
  }
  .gel-4\/5\@l {
    width: 80% !important;
  }
  .gel-1\/8\@l {
    width: 12.5% !important;
  }
  .gel-3\/8\@l {
    width: 37.5% !important;
  }
  .gel-5\/8\@l {
    width: 62.5% !important;
  }
  .gel-7\/8\@l {
    width: 87.5% !important;
  }
  .gel-1\/10\@l {
    width: 10% !important;
  }
  .gel-3\/10\@l {
    width: 30% !important;
  }
  .gel-7\/10\@l {
    width: 70% !important;
  }
  .gel-9\/10\@l {
    width: 90% !important;
  }
  .gel-1\/12\@l {
    width: 8.33333% !important;
  }
  .gel-2\/12\@l {
    width: 16.66667% !important;
  }
  .gel-5\/12\@l {
    width: 41.66667% !important;
  }
  .gel-7\/12\@l {
    width: 58.33333% !important;
  }
  .gel-10\/12\@l {
    width: 83.33333% !important;
  }
  .gel-11\/12\@l {
    width: 91.66667% !important;
  }
  .gel-1\/24\@l {
    width: 4.16667% !important;
  }
  .gel-5\/24\@l {
    width: 20.83333% !important;
  }
  .gel-7\/24\@l {
    width: 29.16667% !important;
  }
  .gel-11\/24\@l {
    width: 45.83333% !important;
  }
  .gel-13\/24\@l {
    width: 54.16667% !important;
  }
  .gel-17\/24\@l {
    width: 70.83333% !important;
  }
  .gel-19\/24\@l {
    width: 79.16667% !important;
  }
  .gel-23\/24\@l {
    width: 95.83333% !important;
  }
}
@media (min-width: 63em) {
  .gel-1\/1\@xl {
    width: 100% !important;
  }
  .gel-1\/2\@xl {
    width: 50% !important;
  }
  .gel-1\/3\@xl {
    width: 33.33333% !important;
  }
  .gel-2\/3\@xl {
    width: 66.66667% !important;
  }
  .gel-1\/4\@xl {
    width: 25% !important;
  }
  .gel-3\/4\@xl {
    width: 75% !important;
  }
  .gel-1\/5\@xl {
    width: 20% !important;
  }
  .gel-2\/5\@xl {
    width: 40% !important;
  }
  .gel-3\/5\@xl {
    width: 60% !important;
  }
  .gel-4\/5\@xl {
    width: 80% !important;
  }
  .gel-1\/8\@xl {
    width: 12.5% !important;
  }
  .gel-3\/8\@xl {
    width: 37.5% !important;
  }
  .gel-5\/8\@xl {
    width: 62.5% !important;
  }
  .gel-7\/8\@xl {
    width: 87.5% !important;
  }
  .gel-1\/10\@xl {
    width: 10% !important;
  }
  .gel-3\/10\@xl {
    width: 30% !important;
  }
  .gel-7\/10\@xl {
    width: 70% !important;
  }
  .gel-9\/10\@xl {
    width: 90% !important;
  }
  .gel-1\/12\@xl {
    width: 8.33333% !important;
  }
  .gel-2\/12\@xl {
    width: 16.66667% !important;
  }
  .gel-5\/12\@xl {
    width: 41.66667% !important;
  }
  .gel-7\/12\@xl {
    width: 58.33333% !important;
  }
  .gel-10\/12\@xl {
    width: 83.33333% !important;
  }
  .gel-11\/12\@xl {
    width: 91.66667% !important;
  }
  .gel-1\/24\@xl {
    width: 4.16667% !important;
  }
  .gel-5\/24\@xl {
    width: 20.83333% !important;
  }
  .gel-7\/24\@xl {
    width: 29.16667% !important;
  }
  .gel-11\/24\@xl {
    width: 45.83333% !important;
  }
  .gel-13\/24\@xl {
    width: 54.16667% !important;
  }
  .gel-17\/24\@xl {
    width: 70.83333% !important;
  }
  .gel-19\/24\@xl {
    width: 79.16667% !important;
  }
  .gel-23\/24\@xl {
    width: 95.83333% !important;
  }
}
@media (min-width: 80em) {
  .gel-1\/1\@xxl {
    width: 100% !important;
  }
  .gel-1\/2\@xxl {
    width: 50% !important;
  }
  .gel-1\/3\@xxl {
    width: 33.33333% !important;
  }
  .gel-2\/3\@xxl {
    width: 66.66667% !important;
  }
  .gel-1\/4\@xxl {
    width: 25% !important;
  }
  .gel-3\/4\@xxl {
    width: 75% !important;
  }
  .gel-1\/5\@xxl {
    width: 20% !important;
  }
  .gel-2\/5\@xxl {
    width: 40% !important;
  }
  .gel-3\/5\@xxl {
    width: 60% !important;
  }
  .gel-4\/5\@xxl {
    width: 80% !important;
  }
  .gel-1\/8\@xxl {
    width: 12.5% !important;
  }
  .gel-3\/8\@xxl {
    width: 37.5% !important;
  }
  .gel-5\/8\@xxl {
    width: 62.5% !important;
  }
  .gel-7\/8\@xxl {
    width: 87.5% !important;
  }
  .gel-1\/10\@xxl {
    width: 10% !important;
  }
  .gel-3\/10\@xxl {
    width: 30% !important;
  }
  .gel-7\/10\@xxl {
    width: 70% !important;
  }
  .gel-9\/10\@xxl {
    width: 90% !important;
  }
  .gel-1\/12\@xxl {
    width: 8.33333% !important;
  }
  .gel-2\/12\@xxl {
    width: 16.66667% !important;
  }
  .gel-5\/12\@xxl {
    width: 41.66667% !important;
  }
  .gel-7\/12\@xxl {
    width: 58.33333% !important;
  }
  .gel-10\/12\@xxl {
    width: 83.33333% !important;
  }
  .gel-11\/12\@xxl {
    width: 91.66667% !important;
  }
  .gel-1\/24\@xxl {
    width: 4.16667% !important;
  }
  .gel-5\/24\@xxl {
    width: 20.83333% !important;
  }
  .gel-7\/24\@xxl {
    width: 29.16667% !important;
  }
  .gel-11\/24\@xxl {
    width: 45.83333% !important;
  }
  .gel-13\/24\@xxl {
    width: 54.16667% !important;
  }
  .gel-17\/24\@xxl {
    width: 70.83333% !important;
  }
  .gel-19\/24\@xxl {
    width: 79.16667% !important;
  }
  .gel-23\/24\@xxl {
    width: 95.83333% !important;
  }
}
.gel-canon {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
}

@media (min-width: 20em) {
  .gel-canon {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}
@media (min-width: 37.5em) {
  .gel-canon {
    font-size: 52px;
    font-size: 3.25rem;
    line-height: 56px;
    line-height: 3.5rem;
  }
  .no-touch .gel-canon {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 48px;
    line-height: 3rem;
  }
}
.gel-canon-bold {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem;
}

.b-reith-sans-loaded .gel-canon-bold, .b-reith-serif-loaded .gel-canon-bold {
  letter-spacing: normal;
}

@media (min-width: 20em) {
  .gel-canon-bold {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}
@media (min-width: 37.5em) {
  .gel-canon-bold {
    font-size: 52px;
    font-size: 3.25rem;
    line-height: 56px;
    line-height: 3.5rem;
  }
  .no-touch .gel-canon-bold {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 48px;
    line-height: 3rem;
  }
}
.gel-trafalgar {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

@media (min-width: 20em) {
  .gel-trafalgar {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
@media (min-width: 37.5em) {
  .gel-trafalgar {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
  .no-touch .gel-trafalgar {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}
.gel-trafalgar-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem;
}

.b-reith-sans-loaded .gel-trafalgar-bold, .b-reith-serif-loaded .gel-trafalgar-bold {
  letter-spacing: normal;
}

@media (min-width: 20em) {
  .gel-trafalgar-bold {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
@media (min-width: 37.5em) {
  .gel-trafalgar-bold {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
  .no-touch .gel-trafalgar-bold {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}
.gel-paragon {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

@media (min-width: 20em) {
  .gel-paragon {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
}
@media (min-width: 37.5em) {
  .gel-paragon {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
  }
  .no-touch .gel-paragon {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
  }
}
.gel-paragon-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem;
}

.b-reith-sans-loaded .gel-paragon-bold, .b-reith-serif-loaded .gel-paragon-bold {
  letter-spacing: normal;
}

@media (min-width: 20em) {
  .gel-paragon-bold {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
}
@media (min-width: 37.5em) {
  .gel-paragon-bold {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
  }
  .no-touch .gel-paragon-bold {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px;
    line-height: 2rem;
  }
}
.gel-double-pica {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

@media (min-width: 37.5em) {
  .gel-double-pica {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
  .no-touch .gel-double-pica {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
.gel-double-pica-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem;
}

.b-reith-sans-loaded .gel-double-pica-bold, .b-reith-serif-loaded .gel-double-pica-bold {
  letter-spacing: normal;
}

@media (min-width: 37.5em) {
  .gel-double-pica-bold {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
  .no-touch .gel-double-pica-bold {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}
.gel-great-primer {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
}

@media (min-width: 37.5em) {
  .gel-great-primer {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  .no-touch .gel-great-primer {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.gel-great-primer-bold {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: bold;
}

@media (min-width: 20em) {
  .gel-great-primer-bold {
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
  }
  .b-reith-sans-loaded .gel-great-primer-bold, .b-reith-serif-loaded .gel-great-primer-bold {
    letter-spacing: normal;
  }
}
@media (min-width: 37.5em) {
  .gel-great-primer-bold {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  .no-touch .gel-great-primer-bold {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.gel-pica {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
}

@media (min-width: 20em) {
  .gel-pica {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
@media (min-width: 37.5em) {
  .gel-pica {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
  .no-touch .gel-pica {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
.gel-pica-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: bold;
}

@media (min-width: 20em) {
  .gel-pica-bold {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
@media (min-width: 37.5em) {
  .gel-pica-bold {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
  .no-touch .gel-pica-bold {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
.gel-long-primer {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
}

@media (min-width: 37.5em) {
  .gel-long-primer {
    line-height: 20px;
    line-height: 1.25rem;
  }
  .no-touch .gel-long-primer {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
}
.gel-long-primer-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: bold;
}

@media (min-width: 37.5em) {
  .gel-long-primer-bold {
    line-height: 20px;
    line-height: 1.25rem;
  }
  .no-touch .gel-long-primer-bold {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
}
.gel-brevier {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}

@media (min-width: 20em) {
  .gel-brevier {
    line-height: 18px;
    line-height: 1.125rem;
  }
}
@media (min-width: 37.5em) {
  .no-touch .gel-brevier {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 16px;
    line-height: 1rem;
  }
}
.gel-brevier-bold {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: bold;
}

@media (min-width: 20em) {
  .gel-brevier-bold {
    line-height: 18px;
    line-height: 1.125rem;
  }
}
@media (min-width: 37.5em) {
  .no-touch .gel-brevier-bold {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 16px;
    line-height: 1rem;
  }
}
.gel-minion {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
}

@media (min-width: 37.5em) {
  .gel-minion {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .no-touch .gel-minion {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.gel-minion-bold {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 37.5em) {
  .gel-minion-bold {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .no-touch .gel-minion-bold {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.gel-body-copy {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
}

@media (min-width: 20em) {
  .gel-body-copy {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}
@media (min-width: 37.5em) {
  .gel-body-copy {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  .no-touch .gel-body-copy {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}
blockquote,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: #404040;
  font-family: Helvetica, Arial, Sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, freesans, sans-serif;
  margin: 0;
  padding-bottom: 32px;
}
.b-reith-sans-font body {
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}

button {
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

a,
a:visited {
  font-weight: 700;
  text-decoration: underline;
  color: #404040;
  transition: color 0.2s ease-out;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
  color: #e6711b;
}

.gel-demo-header {
  margin-bottom: 16px;
}

.gel-demo-masthead {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 12px 0;
}
.gel-demo-masthead > .gel-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.gel-demo-masthead__brand {
  display: block;
  margin-bottom: 12px;
}
@media (min-width: 25em) {
  .gel-demo-masthead__brand {
    float: right;
    margin-bottom: 0;
    padding: 6px 0;
  }
}

.gel-demo-masthead__logo {
  color: #404040;
  display: inline-block;
  height: 38px;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  width: 164px;
}

.gel-demo-masthead__svg {
  display: block;
  fill: currentColor;
  height: inherit;
  width: inherit;
}

.gel-demo-masthead__link,
.gel-demo-masthead__link:visited {
  appearance: none;
  background-color: #404040;
  border: 0;
  border: 1px solid #404040;
  color: #fff;
  cursor: pointer;
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
@media (min-width: 15em) {
  .gel-demo-masthead__link,
  .gel-demo-masthead__link:visited {
    min-width: 190px;
  }
}
@media (min-width: 25em) {
  .gel-demo-masthead__link,
  .gel-demo-masthead__link:visited {
    float: left;
    width: auto;
  }
}

.gel-demo-masthead__link:focus,
.gel-demo-masthead__link:hover,
.gel-demo-masthead__link:visited:focus,
.gel-demo-masthead__link:visited:hover {
  background-color: #121212;
  text-decoration: underline;
}

.gel-demo-masthead__link:active,
.gel-demo-masthead__link:visited:active {
  background-color: #e6711b;
  border-color: #e6711b;
  top: 1px;
}

.gel-demo-header__intro {
  margin: 16px 0;
}
@media (min-width: 56.25em) {
  .gel-demo-header__intro {
    margin: 32px 0;
  }
}

.gel-demo-header__title {
  margin: 0 0 8px;
}

.demo-controls {
  position: relative;
  margin-top: 0;
  margin-right: -8px;
  margin-left: -8px;
  padding: 8px;
  background-color: #e6711b;
  color: #fff;
}
@media (min-width: 25em) {
  .demo-controls {
    margin-right: -16px;
    margin-left: -16px;
    padding: 16px;
  }
}
@media (min-width: 56.25em) {
  .demo-controls {
    margin: 0 0 32px;
  }
}

.demo-controls__device {
  margin-bottom: 8px;
}

.demo-controls__group {
  margin-bottom: 4px;
}

.demo-controls__options {
  margin-top: 8px;
}
@media (min-width: 37.5em) {
  .demo-controls__options {
    bottom: 16px;
    margin-bottom: 0;
    position: absolute;
    left: 16px;
  }
}

.demo-controls__option {
  background: none;
  border: 0;
  color: #fff;
  outline: 0;
  padding: 0;
}

.demo-controls__option + .demo-controls__option {
  margin-right: 8px;
}

.demo-controls__group:after {
  content: "Group 1 - Extra Small (0 - 399px)";
}
@media (min-width: 25em) {
  .demo-controls__group:after {
    content: "Group 2 - Small (400px - 599px)";
  }
}
@media (min-width: 37.5em) {
  .demo-controls__group:after {
    content: "Group 3 - Medium (600px - 899px)";
  }
}
@media (min-width: 56.25em) {
  .demo-controls__group:after {
    content: "Group 4 - Large (900px)";
  }
}
@media (min-width: 63em) {
  .demo-controls__group:after {
    content: "Group 5 - Extra Large (1008px)";
  }
}
@media (min-width: 80em) {
  .demo-controls__group:after {
    content: "Group 6 - Extra Extra Large (1280px)";
  }
}

.demo-controls__margins:after {
  content: "Margins: 8px | Gutters: 8px";
}
@media (min-width: 25em) {
  .demo-controls__margins:after {
    content: "Margins: 16px | Gutters: 8px";
  }
}
@media (min-width: 37.5em) {
  .demo-controls__margins:after {
    content: "Margins: 16px | Gutters: 16px  |  For layouts a 900px breakpoint can also be used.";
  }
}
@media (min-width: 56.25em) {
  .demo-controls__margins:after {
    content: "Margins: 16px | Gutters: 16px";
  }
}

.demo-row {
  margin-top: 16px;
}

@media (min-width: 37.5em) {
  .demo-row .demo-row {
    margin-top: 0;
  }
}

.gel-demo-items__title {
  margin-bottom: 4px;
}

.gel-demo-item {
  background-color: #d4e7eb;
  color: #121212;
  padding: 8px;
  width: 100%;
}
@media (min-width: 25em) {
  .gel-demo-item {
    padding: 16px;
  }
}

.gel-demo-section--nested .gel-demo-item {
  margin-top: 16px;
}
@media (min-width: 37.5em) {
  .gel-demo-section--nested .gel-demo-item {
    margin-top: 0;
  }
}
@media (min-width: 37.5em) {
  .gel-demo-section--nested .gel-layout__item .gel-1\/3 .gel-demo-item {
    margin-top: 16px;
  }
}

.gel-demo-item--fill {
  background: repeating-linear-gradient(180deg, #d4e7eb, #d4e7eb 8px, #aec4cc 0, #aec4cc 16px);
}

.gel-demo-item--auto {
  height: auto;
}

.gel-demo-item--large {
  height: 144px;
}

.gel-demo-item__caption {
  margin-top: 4px;
}

.gel-layout__item--bottom .gel-demo-item__caption {
  margin-bottom: 4px;
  margin-top: 0;
}

.gel-demo-section {
  border-top: 1px solid #dcdcdc;
  margin-top: 16px;
  padding-top: 16px;
}

.gel-demo-items__title {
  margin-bottom: 4px;
}

.gel-demo-section--combinations .gel-demo-items__title {
  margin-bottom: 8px;
}

.gel-demo-section__summary {
  margin-top: 4px;
  color: #767676;
}
