@use 'gel-sass-tools/sass-tools';
@use './palette';

blockquote,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: palette.$tundora;
  font-family: Helvetica, Arial, Sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: sass-tools.quadruple(sass-tools.$gel-spacing-unit);
}

button {
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

a,
a:visited {
  font-weight: 700;
  text-decoration: underline;
  color: palette.$tundora;
  transition: color 0.2s ease-out;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
  color: palette.$orange;
}
