/*------------------------------------*\
    # GLOBAL
\*------------------------------------*/

// Disable grandstand grid output
$gel-grid-enable--markup-output: false;

// Colours pallette
$gel-color--white: #fff;
$gel-color--orange: #e6711b;
$gel-color--cod-gray: #767676;
$gel-color--tundora: #404040;
$gel-color--black: #121212;
$gel-color--dusty-gray: #ccc;
$gel-color--alto: #dcdcdc;
$gel-color--gallery: #f5f5f5;
