///*------------------------------------*\
//    # GEL GRID
//\*------------------------------------*/

// Include general dependancies
@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';


// Enable the output for our distributed code
$gel-grid-enable--markup-output: true;
$gel-grid-enable--whitespace-fix: true;
$gel-grid-enable--box-sizing: true;

// Import the typography component
@import '../grid';
