///*------------------------------------*\
//    # GEL GRID
//\*------------------------------------*/

// Include general dependancies
@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';


// Enable the output for our distributed code
$gel-grid-enable--markup-output: true !default;


// Import the typography component
@import '../grid';
