///*------------------------------------*\
//    # GEL GRID
//\*------------------------------------*/

// Import the typography component
// and enable the output for our distributed code
@use '../grid' with (
  $gel-grid-enable--markup-output: true,
  $gel-grid-enable--whitespace-fix: true,
  $gel-grid-enable--box-sizing: true
);
